//@theme "/home/zuliz/.config/rofi/themes/dt-dmenu.rasi"
//@theme "/home/zuliz/.config/rofi/themes/dt-center.rasi"
//@theme "/home/zuliz/.config/rofi/themes/dt-dmenu.rasi"
@theme "/home/zuliz/.config/rofi/themes/dt-center.rasi"
